/* Itau Display Pro */

@font-face {
    src: url('/fonts/Lato-Thin.ttf') format('truetype');
    font-family: 'lato-thin';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('/fonts/Lato-Light.ttf') format('truetype');
    font-family: 'lato-light';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-family: 'lato-regular';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-family: 'lato-bold';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('/fonts/Lato-Black.ttf') format('truetype');
    font-family: 'lato-black';
    font-weight: normal;
    font-style: normal;
}


