// Tipografia
$fuentePrimary: 'Montserrat', sans-serif;
$fuenteSecondary: "Titillium Web", sans-serif;

//colores
$c-white-1: #ffffff;
$c-back-1: #000000;
$c-back-2: #2e2e2e;
$c-back-3: #262626;
$c-gray-1: #b8b8b8;
$c-gray-2: #d6d6d6;
$c-gray-3: #d3d3d3;
$c-gray-4: #5f5f5f;
$c-gray-5: #ebebeb;
$c-gray-6: #ECECEC;
$c-gray-7: #9F9F9F;
$c-orange-1: #fe4800;
$c-orange-2: #ff6200;
$c-yellow-1: #FFB701;
$c-red-1: #ff0000;
$c-blue-1: #006F81;
$c-green-1: #79c112;



// ==================== BREAKPOINTS ====================
$mobilex: 375px !default;
$mobilexl: 480px !default;
$mobile: 576px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$desktopL: 1200px !default;
$desktopLS: 1440px !default;
$desktopXL: 1600px !default;
$desktopXXL: 1920px !default;
$desktopXXXL: 2000px !default;

// ==================== FONT WEIGHTS ====================
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// ==================== SIZES ====================

$header-height: 8.5rem;
$footer-height: 10rem;

$footer-login-height: 24.5rem;

@media only screen and (min-width: $desktop) {
    $footer-login-height: 11.2rem;
}